.body{
    margin: 0;
    font-family: 'Trebuchet MS', sans-serif;
    background-color: #bbe1ff; 
    background-image: linear-gradient(#bbe1ff, #ffffff);
    background-repeat: no-repeat;
    background-size: cover;
}
.fontlogo{ 
  	display: inline-block;
	cursor: pointer;
    font-size: 50px;
    color: rgb(70, 59, 52);
    margin-left: 20px;
    margin-right: 0;
    margin-top: 0;
    font-family: Brush Script MT;
    font-weight: normal;
}
.flex-banner{
    display: flex;
    grid-area: banner;
    height: 20px;
    margin-bottom: 0;
    background-color: white;
    vertical-align: contain;
    justify-content: center;
	margin-bottom: 35px;
}
.menu-first{
	display: flex;
	padding-top:30px;
	text-decoration: none;
	border-bottom: 1px solid gray;
}
.menu-text{
	text-decoration: none;
	border-bottom: 2px solid black;
}
.banner-text{
    color: rgb(53, 53, 53);
    font-family: 'Trebuchet MS', sans-serif;
    margin-top: auto;
    margin-bottom: auto;
    font-weight: normal;
}
.change-cursor{
	cursor: pointer;
	margin:0;
	padding: 0;
}
.link-text{
    padding-left: 2px;
    padding-right: 2px;
    font-family: 'Trebuchet MS', sans-serif;
}
.gmap-canvas{
	overflow:hidden;
	background:none!important;
	margin-left: 0;
	margin-top: 0;
	height:auto;
	width:100%;
}
.mapouter{
	display: flex;
	overflow:hidden;
	justify-content: center;
	left: 0px;
	right: 0px;
	background: white;
	opacity: 0.8;
    text-align:right;
    height:auto;
    max-width:100%;
	margin-top: -15px;
}
.grid-open{
    display: flex;
    grid-area: open;
    overflow: hidden;
    cursor: pointer;
	text-align: center;
    background-color: white;
    opacity: 0.8;
    justify-content: center;
	padding-top: 45px;
	margin-top: -15px;
}
.infotext{
    color: rgb(53, 53, 53);
    text-decoration: none;
    margin-top: 0;
}
.grid-container-prodtxtl{
    display: flex;
    grid-area: prodtxtl;
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 7px;
    padding-top: 20px;
    border-radius: 10px 10px 0px 0px;
    justify-content: center;
    border: 2px solid black;
    border-bottom: 2px #ffffff;
    cursor: pointer;
 
}
.grid-container-prodtxtl:hover{
    background-color: #ffffff;
}
.grid-container-prodtxtr{
    display: flex;
    grid-area: prodtxtr;
    margin-top: 15px;
    margin-left: 7px;
    margin-right: 15px;
    padding-top: 20px;
    border-radius: 10px 10px 0px 0px;
    justify-content: center;
    border: 2px solid black;
    border-bottom: 2px #ffffff;
    cursor: pointer;

}
.grid-container-prodtxtr:hover{
    background-color: #ffffff;
}
.grid-container-prodiconl{
    display: flex;
    grid-area: prodiconl;
    justify-content: center;
    background-color: white;
    opacity: 0.8;
    border-radius: 0px 0px 10px 10px;
    border: 2px solid black;
    border-top: 2px #ffffff;
    padding-top: 10px;
    padding-bottom: 15px;
    margin-bottom: 15px;
    margin-right: 7px;
    margin-left: 15px;
}
.grid-container-prodiconr{
    display: flex;
    grid-area: prodiconr;
    justify-content: center;
    background-color: white;
    opacity: 0.8;
    border-radius: 0px 0px 10px 10px;
    border: 2px solid black;
    border-top: 2px #ffffff;
    padding-top: 10px;
    padding-bottom: 15px;
    margin-bottom: 15px;
    margin-right: 15px;
    margin-left: 7px;
}
.grid-container-info{
    grid-area: info;
    display: grid;
    justify-content: left;
    background-color: #ffffff;
    opacity: 0.7;
    margin-right: 7px;
    margin-left: 15px;
    margin-bottom: 15px;
    padding: 15px;
    width: auto;
    border-radius: 10px;
    border: 2px solid black;
    cursor:pointer;
}
.grid-container-info:hover {
    opacity: 1;
}

.grid-container-kontakt{
    grid-area: kontakt;
    display: grid;
    justify-content: left;
    opacity: 0.7;
    margin-right: 15px;
    margin-left: 7px;
    margin-bottom: 15px;
    padding: 15px;
    width: auto;
    background-color: #ffffff;
    border-radius: 10px;
    border: 2px solid black;
    transition: 0.3s;
    cursor:pointer;
}
.grid-container-kontakt:hover {
    opacity: 1;
}

.grid-container-footer{
    grid-area: footer;
    padding-top: 10px;
    padding-left: 15px;
    background-color: #ffe7be;
}
.grid-container-social{
    grid-area: social;
    padding: 10px;
    background-color: #ffe7be;
}
.grid-container-icon{
    grid-area: insta;
    display: flex;
    padding-right: 30px;
    padding-left: 10px;
	padding-bottom: 50px;
    justify-content: left;
    background-color: #ffe7be;
}
.randomspacer{
    width: 15px;
}
  
/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}
   
/* Handle */
::-webkit-scrollbar-thumb {
    background:  darkgray; 
    border-radius: 10px;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(70, 59, 52); 
}
.grid-content-start{
    display: grid;
    grid-area: content;
    grid-template:
	'map open'
    'prodtxtl prodtxtr'
    'prodiconl prodiconr'
    'info kontakt'
    'info kontakt';
    margin: 0;
    padding: 0;
    grid-template-columns: 50% 50%;
}
.grid-content-products{
    display: grid;
    grid-template:
    'prodinfo prodpic'
    'prodinfo prodprice';
}
.grid-productinfo{
    display: grid;
    grid-area: prodinfo;
    background-color: white;
    opacity: 0.8;
    border-radius: 10px 0px 0px 10px;
    padding: 15px;
    min-width: 60px;
    margin-bottom: 20px;
    margin-left: 20px;
}
.grid-productpicture{
    display: flex;
    grid-area: prodpic;
    background-color: white;
    justify-content: center;
    opacity: 0.8;
    border-radius: 0px 10px 0px 0px;
    padding-top: 15px;
    padding-right: 15px;
}
.grid-productprice{
    display: grid;
    grid-area: prodprice;
    background-color: white;
    opacity: 0.8;
    border-radius: 0px 0px 10px 0px;
    padding: 15px;
    min-width: 60px;
    margin-bottom: 20px;
}
.grid-container {
    display: grid;
    grid-template:
        'header header'
        'banner banner'
        'content content'
        'content content'
        'content content'
        'content content'
        'footer social'
        'footer insta';
    margin: 0;
    padding: 0;
    width: 100%;
} 
.grid-content{
    display: grid;
    grid-area: content;
    grid-template-columns: 1fr;
    padding-right: 20px;
	padding-bottom: 20px;
}
::-webkit-scrollbar {
    width: 7px;
}
.nav-menu{
    grid-area: header;
    visibility: hidden;
    margin-top: 0px;
    margin-right: 0px;
    padding-top: 5px;
    padding-right: 10px;
    size: 60px 60px;
}
.sidenav {
    height: 100%;
    grid-area: header;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #ffffff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
.product-head{
    display: flex;
}
.sidenav a {
    padding: 8px 8px 8px 32px;
    grid-area: header;
    border-bottom: 1px;
    text-decoration: none;
    color: rgb(53, 53, 53);
    display: block;
    transition: 0.3s;
}
.sidenav a:hover {
    color: rgb(128, 128, 128);
}
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 38px;
    margin-left: 10px;
}
.flex-header {
    display: flex;
    grid-area: header;
    height: 60px;
    background-color: #ffe7be;
    padding: 0;
    justify-content: center;
}
